{
    "discord": {
        "token": "",
        "channel_id": "",
        "bot_id": ""
    },
    "gcp": {
        "credential_path": "",
        "project": "",
        "zone": "",
        "instance": ""
    },
    "server":{
        "address": ""
    }
}
